footer {
   border-top: 2px solid #e3e3e3;
   padding: 20px 0;
}
.footer__list {
   display: flex;
   align-items: center;
   justify-content: center;
}
.footer__item img {
   width: 30px;
   padding: 4px;
   margin: 0 5px;
   border-radius: 50%;
   border: 1px solid #c1c1c1c1;
   transition: all 0.3s;
}
.footer__item img:hover {
   background-color: #c1c1c1;
   transform: scale(1.2);
}
.footer__text {
   margin-top: 12px;
   font-size: 12px;
}
