* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   height: 100vh;
   display: grid;
   grid-template-columns: minmax(170px, 20%) 1fr;
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   background-color: #eaeaea;
}
ul {
   list-style: none;
}
aside {
   height: 100%;
   color: #3e3e3f;
   box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}
.sidebar {
   position: relative;
}
.background-img {
   position: absolute;
   width: 100%;
   height: 100%;
   overflow: hidden;
   z-index: -2;
   filter: grayscale(100%);
}
.background-img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.background-before {
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: -1;
   background-color: #f6f6f6;
   opacity: 0.9;
}
main {
   display: grid;
   grid-template-rows: 60px 1fr auto;
   gap: 0;
   padding: 0 30px;
}
nav h4 {
   height: 60px;
   display: flex;
   align-items: center;
   padding-left: 35px;
   font-size: 1.3em;
}
nav ul {
   padding-top: 22px;
   border-top: 2px solid #e3e3e3;
}
nav a {
   display: flex;
   align-items: center;
   text-decoration: none;
   font-size: 0.8em;
   height: 47px;
   margin: 4px 15px;
   padding: 0 17px;
   color: #808080;
}
nav svg {
   width: 19px;
   margin-right: 12px;
}
nav a:hover {
   color: #f6f6f6;
   background-color: #9c27b0;
   box-shadow: 0 12px 20px -10px rgb(156 39 176 / 28%), 0 4px 20px 0px rgb(0 0 0 / 12%),
      0 7px 8px -5px rgb(156 39 176 / 20%);
   border-radius: 3px;
}
nav a:hover path {
   fill: white;
}
header {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.header__title {
   display: flex;
   align-items: center;
   color: #3e3e3f;
}
.hiden {
   display: none;
}
header h4 {
   margin-left: 10px;
   font-size: 1.3em;
}
.search {
   display: flex;
   max-width: 250px;
   min-width: 100px;
   height: 50px;
   justify-content: flex-end;
   align-items: center;
}
.search-input input {
   display: block;
   margin-right: 10px;
   height: 25px;
   border: none;
   border-bottom: 1px solid #808080;
   background-color: #eaeaea;
}
.search-input input:focus {
   outline: none;
}
.search-input label {
   font-size: 0.85em;
   position: absolute;
   pointer-events: none;
   left: 5px;
   top: 18px;
   transition: 0.3s ease all;
}
.search-input input:focus ~ label,
.search-input input:valid ~ label {
   top: 0;
   font-size: 0.7em;
   color: #9c27b0;
}
.search-input input:focus ~ .bar:before,
.search-input input:focus ~ .bar:after {
   width: 50%;
}
.header-button {
   height: 40px;
   width: 40px;
   margin-left: 10px;
   min-height: 40px;
   min-width: 40px;
   padding: 12px;
   border-radius: 50%;
   border: none;
   background-color: #f6f6f6;
   box-shadow: 0 2px 2px 0 rgb(153 153 153 / 14%), 0 3px 1px -2px rgb(153 153 153 / 20%),
      0 1px 5px 0 rgb(153 153 153 / 12%);
   fill: #3e3e3f;
   transition: all 0.3s;
}
.header-button:focus {
   outline: none;
}
.header-button:hover {
   transform: scale(1.1);
   box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}
.header-button:active {
   transform: scale(1);
   box-shadow: 0 0 0 0 rgb(0 0 0 / 0);
}
.content {
   margin-top: 40px;
}
.section {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.section__block {
   width: 65%;
   position: relative;
   padding: 70px 18px 18px;
   color: #808080;
   background-color: #f6f6f6;
   box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
   border-radius: 3px;
   transition: 0.3s;
}
.form-block__head {
   display: flex;
   flex-flow: column;
   justify-content: space-between;
   position: absolute;
   padding: 12px;
   width: auto;
   height: 70px;
   top: -18px;
   left: 18px;
   right: 18px;
   color: #f6f6f6;
   border-radius: 3px;
   background: linear-gradient(60deg, #ab47bc, #8e24aa);
   box-shadow: 0 12px 20px -10px rgb(156 39 176 / 28%), 0 4px 20px 0px rgb(0 0 0 / 12%),
      0 7px 8px -5px rgb(156 39 176 / 20%);
}
.form-block__title {
   padding-left: 3px;
   font-size: 0.9em;
}
.form-block__des {
   margin: 0;
   padding-left: 3px;
   font-size: 0.75em;
}
.form-block__grid {
   display: grid;
   grid-template: repeat(5, auto) / repeat(3, 1fr);
   gap: 30px 20px;
}
.form-block__grid input {
   display: block;
   width: 100%;
   height: 30px;
   border: none;
   border-bottom: 1px solid #808080;
   background-color: #f6f6f6;
}
.form-block__grid input:focus {
   outline: none;
}
.form-block__grid textarea:focus {
   outline: none;
}
.group {
   position: relative;
}
.form-block__grid label {
   font-size: 0.85em;
   position: absolute;
   pointer-events: none;
   left: 5px;
   top: 5px;
   transition: 0.3s ease all;
}
.form-block__grid input:focus ~ label,
.form-block__grid input:valid ~ label {
   top: -15px;
   font-size: 0.7em;
   color: #9c27b0;
}
textarea:focus ~ label,
textarea:valid ~ label {
   top: -15px;
   font-size: 0.7em;
   color: #9c27b0;
}
.bar {
   position: relative;
   display: block;
}
.bar:before,
.bar:after {
   content: "";
   height: 2px;
   width: 0;
   bottom: 0;
   position: absolute;
   background: #9c27b0;
   transition: 0.3s ease all;
}
.bar:before {
   left: 50%;
}
.bar:after {
   right: 50%;
}
.form-block__grid input:focus ~ .bar:before,
.form-block__grid input:focus ~ .bar:after {
   width: 50%;
}
.form-block__grid textarea {
   width: 100%;
   border: none;
   border-bottom: 1px solid #808080;
   background-color: #f6f6f6;
}
.name {
   grid-column: span 3;
   display: grid;
   grid-template: 1fr / repeat(2, 1fr);
   justify-content: space-between;
   gap: 0 20px;
}
.address {
   grid-column: span 3;
}
.text {
   grid-column: span 3;
}
.submit {
   grid-column: span 3;
   justify-self: end;
}
button {
   color: white;
   border: none;
   text-transform: uppercase;
   padding: 12px 30px;
   font-size: 12px;
   cursor: pointer;
   background-color: #9c27b0;
   box-shadow: 0 2px 2px 0 rgb(156 39 176 / 14%), 0 3px 1px -2px rgb(156 39 176 / 20%),
      0 1px 5px 0 rgb(156 39 176 / 12%);
   border-radius: 3px;
   transition: all 0.3s;
}
button:focus {
   outline: none;
}
button:hover {
   transform: scale(1.05);
}
button:active {
   transform: scale(1);
}
.profile_block {
   width: 33%;
   padding: 110px 18px 18px;
   text-align: center;
   align-self: flex-start;
}
.profile_photo {
   position: absolute;
   overflow: hidden;
   width: 130px;
   height: 130px;
   top: 20px;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 50%;
   box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
   transition: all 0.4s;
}
.profile_photo img {
   vertical-align: middle;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.profile_name {
   margin: 20px 0;
}
.profile_text {
   font-size: 0.8em;
}
footer {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 50px;
   width: 100%;
   font-size: 0.85em;
   color: #808080;
   border-top: 2px solid #d7d7d7;
}
footer a {
   text-decoration: none;
   color: #3e3e3f;
   font-weight: bold;
   margin: 0 5px;
   font-size: 0.8em;
   transition: 0.3s;
}
footer a:hover {
   text-decoration: underline;
   transform: scale(1.2);
}
.footer-left {
   display: flex;
   justify-content: space-between;
   width: 20%;
}
@media screen and (max-width: 1000px) {
   .section__block {
      width: 100%;
      order: 2;
      margin-bottom: 50px;
   }
   .profile_block {
      order: 1;
   }
}
@media screen and (max-width: 800px) {
   aside {
      display: none;
   }
   body {
      grid-template-columns: 1fr;
   }
   .hiden {
      display: block;
   }
   header h4 {
      font-size: 1.45em;
   }
   footer {
      height: 75px;
      font-size: 0.95em;
      padding: 0 20px;
   }
   footer a {
      font-size: 0.8em;
   }
   .footer-left {
      width: 29%;
   }
}
@media screen and (max-width: 650px) {
   main {
      padding: 0 20px;
   }
   header h4 {
      font-size: 1.7em;
   }
   footer {
      font-size: 1em;
   }
   footer a {
      font-size: 0.85em;
   }
   .footer-left {
      width: 35%;
   }
}
@media screen and (max-width: 500px) {
   footer {
      padding: 0 15px;
   }
   .footer-left {
      width: 50%;
   }
}
@media screen and (max-width: 450px) {
   header h4 {
      display: none;
   }
   .search-input {
      display: none;
   }
   .footer-right {
      display: none;
   }
}
