* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:active,
*:focus {
  outline: none;
}
body {
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(170px, 20%) 1fr;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #eaeaea;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
aside {
  height: 100%;
  color: #3e3e3f;
  box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}
.sidebar {
  position: relative;
}
.background-img {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2;
  filter: grayscale(100%);
}
.background-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.background-before {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #f6f6f6;
  opacity: 0.9;
}
main {
  display: grid;
  grid-template-rows: 60px 1fr auto;
  gap: 0;
  padding: 0 30px;
}
nav h4 {
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 35px;
  font-size: 1.3em;
}
nav ul {
  padding-top: 22px;
  border-top: 2px solid #e3e3e3;
}
nav a {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  height: 47px;
  margin: 4px 15px;
  padding: 0 17px;
  color: #808080;
}
nav svg {
  width: 19px;
  margin-right: 12px;
}
nav a:hover {
  color: #f6f6f6;
  background-color: #9c27b0;
  box-shadow: 0 12px 20px -10px rgb(156 39 176 / 28%), 0 4px 20px 0px rgb(0 0 0 / 12%),
    0 7px 8px -5px rgb(156 39 176 / 20%);
  border-radius: 3px;
}
nav a:hover path {
  fill: white;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__title {
  display: flex;
  align-items: center;
  color: #3e3e3f;
}
.hiden {
  display: none;
}
header h4 {
  margin-left: 10px;
  font-size: 1.3em;
}
.search {
  display: flex;
  max-width: 250px;
  min-width: 100px;
  height: 50px;
  align-items: center;
  justify-content: flex-end;
}
.search-input input {
  display: block;
  height: 25px;
  margin-right: 10px;
  border: none;
  border-bottom: 1px solid #808080;
  background-color: #eaeaea;
}
.search-input input:focus {
  outline: none;
}
.group {
  position: relative;
}
.search-input label {
  font-size: 0.85em;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 18px;
  transition: 0.3s ease all;
}
.search-input input:focus ~ label,
.search-input input:valid ~ label {
  top: 0;
  font-size: 0.7em;
  color: #9c27b0;
}
.bar {
  position: relative;
  display: block;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #9c27b0;
  transition: 0.3s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}
.search-input input:focus ~ .bar:before,
.search-input input:focus ~ .bar:after {
  width: 50%;
}
.header-button {
  width: 40px;
  height: 40px;
  min-height: 40px;
  min-width: 40px;
  padding: 12px;
  border-radius: 50%;
  border: none;
  background-color: #f6f6f6;
  box-shadow: 0 2px 2px 0 rgb(153 153 153 / 14%), 0 3px 1px -2px rgb(153 153 153 / 20%),
    0 1px 5px 0 rgb(153 153 153 / 12%);
  fill: #3e3e3f;
  transition: all 0.3s;
}
.header-button:focus {
  outline: none;
}
.header-button:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}
.header-button:active {
  transform: scale(1);
  box-shadow: 0 0 0 0 rgb(0 0 0 / 0);
}
.content {
  display: grid;
  gap: 40px 0;
  margin-top: 40px;
}
.section-1,
.section-2,
.section-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-1 li:hover,
.section-2 li:hover,
.section-3__item:hover {
  transform: scale(1.03);
  box-shadow: 0.5px 0.5px 6px 4px rgba(255, 255, 102, 0.3);
  transition: all 0.5s;
}
.list-1__item:hover {
  text-decoration: underline;
}
.section-1 li,
.section-2 li,
.section-3__item {
  position: relative;
  color: #808080;
  background-color: #f6f6f6;
  border: 1px solid #e3e3e3;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
  border-radius: 3px;
  transition: all 0.3s;
}
.green {
  background: linear-gradient(60deg, #66bb6a, #43a047);
  box-shadow: 0 12px 20px -10px rgb(76 175 80 / 28%), 0 4px 20px 0px rgb(0 0 0 / 12%),
    0 7px 8px -5px rgb(76 175 80 / 20%);
  border-radius: 3px;
}
.yellow {
  background: linear-gradient(60deg, #ffa726, #fb8c00);
  box-shadow: 0 12px 20px -10px rgb(255 152 0 / 28%), 0 4px 20px 0px rgb(0 0 0 / 12%),
    0 7px 8px -5px rgb(255 152 0 / 20%);
  border-radius: 3px;
}
.blue {
  background: linear-gradient(60deg, #26c6da, #00acc1);
  box-shadow: 0 12px 20px -10px rgb(0 188 212 / 28%), 0 4px 20px 0px rgb(0 0 0 / 12%),
    0 7px 8px -5px rgb(0 188 212 / 20%);
  border-radius: 3px;
}
.red {
  background: linear-gradient(60deg, #ec407a, #d81b60);
  box-shadow: 0 12px 20px -10px rgb(244 67 54 / 28%), 0 4px 20px 0px rgb(0 0 0 / 12%),
    0 7px 8px -5px rgb(244 67 54 / 20%);
  border-radius: 3px;
}
.purple {
  background: linear-gradient(60deg, #ab47bc, #8e24aa);
  box-shadow: 0 12px 20px -10px rgb(156 39 176 / 28%), 0 4px 20px 0px rgb(0 0 0 / 12%),
    0 7px 8px -5px rgb(156 39 176 / 20%);
  border-radius: 3px;
}
.section-1 li {
  width: 23.5%;
  padding: 14px;
}
.section-1 svg {
  width: 30%;
  max-width: 100px;
  min-width: 80px;
  height: auto;
  padding: 20px;
  position: absolute;
  top: -14px;
  left: 14px;
  transition: all 0.3s;
}
.section-1 svg:hover {
  transform: scale(1.1);
}
.section-1 .item-info {
  float: right;
  text-align: right;
  padding: 5px 0 10px 0;
}
.item-info p {
  padding: 0 0 28px 0;
  font-size: 0.75em;
}
.item-info span {
  font-size: 1.6em;
}
.item-bottom {
  display: flex;
  align-items: center;
  width: 100%;
  float: left;
  font-size: 0.7em;
  padding-top: 14px;
  border-top: 2px solid #e3e3e3;
}
.item-bottom img {
  width: 8px;
  margin-right: 3px;
}
.section-2 li {
  width: 32%;
  padding: 160px 14px 14px;
}
.section-2-img {
  width: auto;
  height: 170px;
  overflow: hidden;
  position: absolute;
  top: -14px;
  left: 14px;
  right: 14px;
  border-radius: 3px;
}
.section-2 svg {
  width: 100%;
  height: 100%;
  padding: 18px;
  transition: all 0.3s;
}
.section-2 svg:hover {
  transform: scale(1.1);
}
.section-2 .item-info {
  float: left;
  text-align: left;
  padding: 5px 0 10px 0;
}
.section-2 .item-info p {
  padding-bottom: 3px;
}
.section-2 .item-info span {
  font-size: 1em;
}
.section-3 {
  margin-bottom: 40px;
}
.section-3__item {
  width: 49%;
  padding: 50px 14px 14px;
}
.item-1__head {
  display: flex;
  align-items: center;
  position: absolute;
  height: 50px;
  top: -14px;
  left: 14px;
  right: 14px;
}
.head-1__title {
  font-size: 0.7em;
  color: #f6f6f6;
  padding: 0 5px 0 14px;
}
.head-1__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19.5%;
  transition: all 0.3s;
}
.item-1__head svg {
  width: 12px;
  margin-right: 5px;
}
.item-1__head a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 0.7em;
  height: 30px;
  color: #f6f6f6;
  border-radius: 3px;
}
.item-1__head li:nth-child(3) {
  margin: 0 15px;
}
.item-1__head a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.1s 0.2s;
}
.list-1__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7em;
  padding: 9px 0;
  border-top: 2px solid #e3e3e3;
  transition: all 0.3s;
}
.list-1__item:first-child {
  border-top: none;
}
.form-container {
  width: 100%;
  position: relative;
}
.form-container svg {
  stroke: #9c27b0;
  stroke-width: 4px;
  height: 0;
  width: 10px;
  position: absolute;
  left: 18px;
  top: 0;
  stroke-dasharray: 33;
}
.promoted-input-checkbox {
  display: none;
}
.promoted-checkbox input:checked + label > svg {
  height: 16px;
  animation: draw-checkbox 0.5s;
}
.promoted-checkbox label:active::after {
  background-color: black;
  opacity: 0.3;
}
.promoted-checkbox label {
  color: #808080;
  cursor: pointer;
  display: flex;
  flex-flow: row-reverse;
}
.promoted-checkbox label span {
  width: 100%;
}
.promoted-checkbox label:after {
  content: "";
  height: 14px;
  width: 15px;
  margin: 0 15px;
  border: 1px solid black;
  border-radius: 3px;
  transition: 0.15s all ease-out;
}
@keyframes draw-checkbox {
  0% {
    stroke-dashoffset: 33;
  }
  100% {
    stroke-dashoffset: 66;
  }
}
.list-1__button-block {
  display: flex;
  justify-content: space-between;
  width: 50px;
}
.list-1__button-block button:hover {
  transform: scale(1.5);
  transition: all 0.2s;
}
.list-1__button-block button:active {
  transform: scale(1);
  transition: all 0.2s;
}
.list-1__button {
  background-size: cover;
  border: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  cursor: pointer;
}
.edit {
  background-image: url(./../icone/edit.png);
}
.remove {
  background-image: url(./../icone/remove.png);
}
.item-2__head {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: absolute;
  padding: 12px;
  width: auto;
  height: 60px;
  top: -14px;
  left: 14px;
  right: 14px;
  color: #f6f6f6;
}
.item-2__head span {
  font-size: 0.9em;
}
.item-2__head p {
  font-size: 0.75em;
}
.item-2__list {
  font-size: 0.75em;
}
.item-2__item {
  display: flex;
  padding: 7px 0;
  border-top: 2px solid #e3e3e3;
}
.item-2__item:first-child {
  border-top: none;
  color: #43a6a9;
}
.item-2__item:hover {
  background-color: #eaeaea;
}
.item-2__item:first-child:hover {
  background-color: #f6f6f6;
}
.item-2__id {
  width: 20%;
  padding-left: 5%;
}
.item-2__name {
  width: 35%;
}
.item-2__salary {
  width: 25%;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  font-size: 0.85em;
  color: #808080;
  border-top: 2px solid #d7d7d7;
}
footer a {
  color: #3e3e3f;
  font-weight: bold;
  margin: 0 5px;
  font-size: 0.8em;
  transition: all 0.3s;
}
footer a:hover {
  text-decoration: underline;
  transform: scale(1.2);
}
.footer-left {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

@media screen and (max-width: 1000px) {
  .section-1 li {
    width: 48.5%;
    padding: 18px;
  }
  .section-1 li:first-child {
    margin-bottom: 40px;
  }
  .section-1 li:nth-child(2) {
    margin-bottom: 40px;
  }
  .section-1 svg {
    width: 40%;
    min-width: none;
    padding: 18px;
    top: -18px;
    left: 18px;
  }
  .item-bottom {
    padding-top: 18px;
  }
  .item-bottom img {
    width: 11px;
    margin-right: 3px;
  }
  .section-2 li {
    width: 31.2%;
    padding: 120px 18px 18px;
  }
  .section-2-img {
    height: 130px;
    top: -18px;
    left: 18px;
    right: 18px;
  }
  .section-2 svg {
    padding: 12px;
  }
  .section-2 .item-info p {
    font-size: 0.95em;
  }
  .section-2 .item-info span {
    font-size: 1.2em;
  }
  .section-3__item {
    width: 100%;
    padding: 50px 18px 18px;
  }
  .section-3__item:first-child {
    margin-bottom: 40px;
  }
  .item-1__head {
    height: 64px;
    top: -18px;
    left: 18px;
    right: 18px;
  }
  .head-1__title {
    font-size: 0.85em;
    padding: 0 15px;
  }
  .head-1__link {
    width: 16%;
  }
  .item-1__head svg {
    width: 15px;
    margin-right: 10px;
  }
  .item-1__head a {
    font-size: 0.85em;
    height: 35px;
  }
  .item-1__head li:nth-child(3) {
    margin: 0 18px;
  }
  .item-1__list {
    margin: 15px 0 2px 0;
  }
  .list-1__item {
    font-size: 0.84em;
    padding: 9px 0;
  }
  .list-1__button-block {
    width: 70px;
  }
  .list-1__button-block button {
    width: 18px;
    height: 18px;
    margin-right: 12px;
  }
  .item-2__head {
    padding: 14px;
    height: 80px;
    top: -18px;
    left: 18px;
    right: 18px;
  }
  .item-2__head span {
    font-size: 1em;
  }
  .item-2__head p {
    font-size: 0.85em;
  }
  .item-2__list {
    font-size: 0.9em;
    margin-top: 20px;
  }
  .item-2__item {
    padding: 10px 0;
  }
}

@media screen and (max-width: 800px) {
  aside {
    display: none;
  }
  body {
    grid-template-columns: 1fr;
  }
  .hiden {
    display: block;
  }
  header h4 {
    font-size: 1.45em;
  }
  .section-1 li {
    width: 48.5%;
    padding: 20px;
  }
  .section-1 svg {
    padding: 20px;
    top: -20px;
    left: 20px;
  }
  .item-info p {
    font-size: 0.8em;
  }
  .item-info span {
    font-size: 1.65em;
  }
  .item-bottom {
    font-size: 0.75em;
    margin-top: 5px;
    padding-top: 20px;
  }
  .item-bottom img {
    width: 14px;
    margin-right: 5px;
  }
  .section-2 li {
    width: 31.5%;
    padding: 100px 20px 20px;
  }
  .section-2-img {
    height: 110px;
    top: -20px;
    left: 20px;
    right: 20px;
  }
  .section-2 .item-info p {
    font-size: 1em;
    margin-top: 5px;
  }
  .section-2 .item-info span {
    font-size: 1.25em;
  }
  .section-3__item {
    width: 100%;
    padding: 60px 20px 20px;
  }
  .item-1__head {
    height: 70px;
    top: -20px;
    left: 20px;
    right: 20px;
  }
  .head-1__title {
    font-size: 0.9em;
    padding: 0 18px 0 15px;
  }
  .head-1__link {
    width: 15.5%;
  }
  .item-1__head svg {
    width: 15px;
    margin-right: 10px;
  }
  .item-1__head a {
    font-size: 0.9em;
    height: 45px;
  }
  .item-1__head li:nth-child(3) {
    margin: 0 18px;
  }
  .item-1__list {
    margin: 24px 0 4px 0;
  }
  .list-1__item {
    font-size: 1em;
    padding: 10px 0;
  }
  .list-1__button-block {
    width: 80px;
  }
  .list-1__button-block button {
    width: 20px;
    height: 20px;
    margin-right: 15px;
  }
  .item-2__head {
    padding: 16px;
    height: 80px;
    top: -20px;
    left: 20px;
    right: 20px;
  }
  .item-2__head span {
    font-size: 1.1em;
  }
  .item-2__head p {
    font-size: 1em;
  }
  .item-2__list {
    font-size: 1em;
  }
  footer {
    height: 75px;
    font-size: 0.95em;
    padding: 0 20px;
  }
  footer a {
    font-size: 0.8em;
  }
  .footer-left {
    width: 29%;
  }
}

@media screen and (max-width: 650px) {
  main {
    padding: 0 20px;
  }
  header h4 {
    font-size: 1.7em;
  }
  .item-bottom img {
    width: 14px;
    margin-right: 5px;
  }
  .section-2 li {
    width: 100%;
    margin-bottom: 40px;
    padding: 220px 20px 20px;
  }
  .section-2-img {
    height: 240px;
  }
  .section-2 svg {
    padding: 14px;
  }
  .section-2 li:last-child {
    margin-bottom: 0;
  }
  .section-2 .item-info p {
    font-size: 1em;
    margin-top: 5px;
  }
  .section-2 .item-info span {
    font-size: 1.25em;
  }
  .section-3__item {
    width: 100%;
    padding: 60px 20px 20px;
  }
  .head-1__title {
    font-size: 1em;
    padding: 0 18px 0 15px;
  }
  .head-1__link {
    width: 22%;
  }
  .item-1__head svg {
    width: 20px;
    margin-right: 10px;
  }
  .item-1__head a {
    font-size: 1em;
    height: 45px;
  }
  .item-1__head li:nth-child(3) {
    margin: 0 15px;
  }
  .item-1__list {
    margin: 24px 0 4px 0;
  }
  .list-1__item {
    font-size: 1em;
    padding: 10px 0;
  }
  footer {
    font-size: 1em;
  }
  footer a {
    font-size: 0.85em;
  }
  .footer-left {
    width: 35%;
  }
}

@media screen and (max-width: 500px) {
  .section-1 li {
    width: 100%;
    padding: 20px;
    margin-bottom: 40px;
  }
  .section-1 li:last-child {
    margin-bottom: 0;
  }
  .section-2 li {
    padding: 220px 20px 20px;
  }
  .section-2-img {
    height: 240px;
  }
  .section-3__item {
    padding: 55px 20px 20px;
  }
  .item-1__head {
    padding: 0 10px;
  }
  .head-1__title {
    display: none;
  }
  .head-1__link {
    width: 33.333%;
  }
  .item-1__head svg {
    margin-right: 8px;
  }
  .form-container svg {
    left: 9px;
  }
  .promoted-checkbox label:after {
    margin: 0 6px;
  }
  .list-1__button-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
    width: 20px;
    margin: 0 5px;
  }
  .item-2__id {
    width: 8%;
    padding-left: 2%;
  }
  .item-2__name {
    width: 38%;
  }
  .item-2__salary {
    width: 20%;
  }
  .item-2__country {
    margin-left: 5px;
  }
  footer {
    padding: 0 15px;
  }
  .footer-left {
    width: 50%;
  }
}

@media screen and (max-width: 450px) {
  header h4 {
    display: none;
  }
  .search-input {
    display: none;
  }
  .footer-right {
    display: none;
  }
}

@media screen and (max-width: 409px) {
  .item-2__head {
    height: 100px;
  }
  .item-2__item {
    flex-wrap: wrap;
  }
  .item-2__id {
    width: 45%;
    padding-left: 5%;
  }
  .item-2__name {
    width: 45%;
    margin-left: 10%;
  }
  .item-2__salary {
    width: 45%;
    margin-left: 5%;
  }
  .item-2__country {
    width: 45%;
    margin-left: 5%;
  }
}

@media screen and (max-width: 409px) {
  .head-1__link span {
    display: none;
  }
}
