//main
@media screen and (max-width: 850px) {
   .container {
      width: 95%;
   }
}
@media screen and (max-width: 600px) {
   .container {
      width: 100%;
   }
}

//header
@media screen and (max-width: 850px) {
   .header__container {
      width: 90%;
   }
   .header__nav {
      width: 80%;
   }
   .header__social {
      display: none;
   }
}
@media screen and (max-width: 600px) {
   .header__nav nav {
      display: none;
   }
   .header__social {
      display: none;
   }
   .header__menu {
      display: block;
   }
   header {
      position: fixed;
      z-index: 4000;
      width: 100%;
      background-color: #fff;
   }
}

//section-1
@media screen and (max-width: 850px) {
   .part-1__des,
   .part-2__des,
   .part-3__des {
      width: 50%;
      padding: 40px 30px;
   }
   .part-2__img,
   .part-3__img {
      width: 50%;
   }
   .part-1 {
      height: 500px;
   }
   .part-2,
   .part-3 {
      height: 380px;
   }
}
@media screen and (max-width: 700px) {
   .part-1__des,
   .part-2__des,
   .part-3__des {
      padding: 30px;
   }
}
@media screen and (max-width: 600px) {
   .section-1 {
      padding-top: 62px;
   }
   .part-1__des,
   .part-2__des,
   .part-3__des {
      width: 100%;
      padding: 20px 30px;
      height: 100%;
      order: 2;
   }
   .title {
      margin-bottom: 20px;
   }
   .part-1__img,
   .part-2__img,
   .part-3__img {
      width: 100%;
      padding: 0 0 10% 0;
      height: 300px;
      order: 1;
   }
   .part-1,
   .part-2,
   .part-3 {
      flex-wrap: wrap;
      height: 100%;
   }
}
@media screen and (max-width: 352px) {
   .part-1__des,
   .part-2__des,
   .part-3__des {
      padding: 10px;
   }
   .title {
      margin-bottom: 10px;
   }
   .part-1__des__text-2 {
      margin-top: 10px;
   }
   .part-1 button,
   .part-2 button,
   .part-3 button {
      margin: 10px 0;
   }
}
@media screen and (max-width: 312px) {
   .title {
      font-size: 38px;
   }
}

//features
@media screen and (max-width: 850px) {
   .features__item {
      width: 50%;
   }
   .border-box-1 {
      border-left: none;
      border-top: none;
   }
   .border-box-2 {
      border-right: none;
      border-top: none;
   }
   .border-box-3 {
      border-left: none;
      border-right: 1px solid #e3e3e3;
      border-top: 1px solid #e3e3e3;
   }
   .border-box-4 {
      border-left: 1px solid #e3e3e3;
      border-bottom: 1px solid #e3e3e3;
      border-right: none;
   }
   .border-box-5 {
      border-bottom: none;
      border-left: none;
   }
   .border-box-6 {
      border-right: none;
      border-bottom: none;
   }
}
@media screen and (max-width: 600px) {
   .features__item {
      width: 100%;
   }
   .border-box-1 {
      border-right: none;
   }
   .border-box-2 {
      border-left: none;
      border-top: 1px solid #e3e3e3;
   }
   .border-box-3 {
      border-right: none;
      border-top: 1px solid #e3e3e3;
   }
   .border-box-4 {
      border-left: none;
      border-bottom: 1px solid #e3e3e3;
   }
   .border-box-5 {
      border-bottom: 1px solid #e3e3e3;
      border-right: none;
   }
   .border-box-6 {
      border-left: none;
      border-bottom: 2px solid #e3e3e3;
   }
}

//form
@media screen and (max-width: 850px) {
   form {
      width: 80%;
   }
}
@media screen and (max-width: 600px) {
   form {
      width: 85%;
   }
   .contacts div {
      width: 100%;
   }
   .contacts p {
      margin-top: 15px;
   }
   .radio-button__block {
      flex-flow: column;
   }
   .radio-button {
      justify-content: space-between;
   }
}
